Objects
LocalGenerated
various
*.data
ImportedInterfaces
Install_config_win_b64
CATIAV5Level.lvl
ToolsData
/win_b64/code/bin
/win_b64/code/dictionary
/win_b64/code/lib
/win_b64/code/productIC
/win_b64/control
